<extend name="base/common" />

<block name="body">
    <style>
        .el-header {
            color: #333;
            line-height: 60px;
            text-align: right;
            font-size: 12px
        }

        .el-aside {
            color: #333;
        }

        #menu {
            position: absolute;
        }

        .el-menu {
            box-shadow: 0 0 5px #ddd;
            z-index: 99;
            border: 1px solid #ddd;
        }

        .el-menu-item {
            color: #555;
            border-bottom: 1px solid #f3f3f3;
        }

        .el-menu-item:focus,
        .el-menu-item:hover {
            background-color: #e6e9ed;
            color: #ff5100
        }

        a {
            text-decoration: none
        }

        .el-menu li {
            height: 35px;
            line-height: 35px;
        }
    </style>
    <div id="app" v-hide>
        <el-container>
            <el-container>
                <el-header height="100px">
                    <el-row>
                        <el-col :span="5">
                            <div class="grid-content bg-purple-dark">
                                <div style="float: left;">

                                    <a href="{:url('add')}">
                                        <el-button type="primary" icon="el-icon-plus" size="small"></el-button>
                                    </a>
                                    <el-button type="danger" icon="el-icon-delete" size="small" @click="open">
                                    </el-button>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="19" style="float: right">
                            <el-row>
                                <el-col :span="24">
                                    <div style="float: right;">
                                        <el-input size="small" placeholder="请输入搜索内容" prefix-icon="el-icon-search"
                                            v-model="input2">
                                        </el-input>
                                    </div>
                                </el-col>
                                <el-col :span="24">
                                    <div style="float: right; margin-top: -15px">
                                        <el-date-picker size="small" v-model="value" type="daterange"
                                            range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                                        </el-date-picker>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                </el-header>
                <el-main style="margin-top: -15px;">
                    <el-table @row-contextmenu="openDetails" @row-dblclick="row_clicks" :data="tableData"
                        style="width: 100%;border-top:1px solid #eee">
                        <el-table-column type="selection" width="55">
                        </el-table-column>
                        <el-table-column show-overflow-tooltip label="名称" prop="name">
                        </el-table-column>
                        <el-table-column show-overflow-tooltip label="联系方式" prop="mobile">
                        </el-table-column>
                        <el-table-column show-overflow-tooltip label="性别" prop="sex_str">
                        </el-table-column>
                        <!-- <el-table-column
                            label="需求内容"
                            width="180">
                            <template slot-scope="scope">
                               <p v-for="(v,k) in scope.row.need" :key="k">{{v.house_config}}</p>
                            </template>
                        </el-table-column> -->
                        <el-table-column show-overflow-tooltip label="类型" prop="type_str">

                        </el-table-column>
                        <el-table-column show-overflow-tooltip label="备注" prop="remark">
                        </el-table-column>
                    </el-table>
                </el-main>
                <el-footer>
                    <el-pagination style="text-align: center" hide-on-single-page background layout="prev, pager, next"
                        :total="50">
                    </el-pagination>
                </el-footer>
            </el-container>
        </el-container>
        <transition name="el-zoom-in-top">
            <div id="menu" v-show="show">
                <el-row class="tac">
                    <el-col>
                        <el-menu active-text-color="#000">
                            <!-- <template v-for="menuItems in menuItem">
                                <a :href="menuItems.src">
                                    <el-menu-item>
                                        <span slot="title">{{menuItems.title}}</span>
                                    </el-menu-item>
                                </a>
                            </template> -->

                        </el-menu>
                    </el-col>
                </el-row>
            </div>
        </transition>
        <el-drawer title="详细信息" :visible.sync="drawer" :direction="direction">
            <span>我来啦!</span>
        </el-drawer>
        <el-dialog title="客源详情" :visible.sync="dialogFormVisible" width="70%">
            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick" v-loading="loading">
                    <el-tab-pane v-for="(v,k) in tabs" :label="v.label" :name="v.name" :key="k">
                        <el-table @row-contextmenu="openDetails" @row-dblclick="tab_row_clicks" :data="v.lists"
                            style="width: 100%;border-top:1px solid #eee">
                            <!-- <el-table-column type="selection" width="55">
                                </el-table-column> -->
                            <el-table-column v-for="(v1,k1) in v.table" show-overflow-tooltip :label="v1.label"
                                :prop="v1.prop">
                            </el-table-column>
                            <el-table-column label="操作" fixed="right" align="center">
                                <template slot-scope="scope">
                                  <el-button
                                    v-if="v.add"
                                    type="text"
                                    @click.native="handleForm(1, scope.row)"
                                    :loading="loading"
                                  >
                                    <i class="el-icon-edit"></i>
                                  </el-button>
                                  <el-button
                                  v-if="v.edit"
                                    type="text"
                                    @click.native="tab_row_clicks(scope.row)"
                                    :loading="loading"
                                  >
                                    <i class="el-icon-edit"></i>
                                  </el-button>
                                  <el-button
                                  v-if="v.del"
                                    type="text"
                                    @click.native="tab_row_clicks(scope.row)"
                                    :loading="loading"
                                  >
                                    <i class="el-icon-delete"></i>
                                  </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>

            </template>

        </el-dialog>
        <el-dialog width="60%" v-for="form in forms" :title="form.title" :visible.sync="form.formVisible">
            <el-form  ref="form" :model="form.data" label-width="80px" v-loading="form.loading">
                <template v-for="(fields, k) in form.field">
                    <template v-if="fields.type == 'text'">
                        <el-form-item :label="fields.title">
                            <el-input v-model="form[fields.field]"></el-input>
                        </el-form-item>
                    </template>
                    <template v-else-if="fields.type == 'region'">
                        <el-form-item :label="fields.title">
                            <el-select v-model="form[fields.field]" placeholder="请选择">
                                <template v-for="values in fields.value">
                                    <el-option :label="values.title" :value="values.value"></el-option>
                                </template>
                            </el-select>
                        </el-form-item>
                    </template>
                    <template v-else-if="fields.type == 'region'">
                        <el-form-item :label="fields.title">
                            <el-select v-model="form[fields.field]" placeholder="请选择">
                                <template v-for="values in fields.value">
                                    <el-option :label="values.title" :value="values.value"></el-option>
                                </template>
                            </el-select>
                        </el-form-item>
                    </template>
                    <template v-else-if="fields.type == 'date'">
                        <el-form-item :label="fields.title">
                            <el-date-picker v-model="form[fields.field]" type="date" placeholder="选择日期">
                            </el-date-picker>
                        </el-form-item>
                    </template>
                    <template v-else-if="fields.type == 'textarea'">
                        <el-form-item :label="fields.title">
                            <el-input :autosize="{ minRows: 4}" type="textarea" :rows="4" v-model="form[fields.field]">
                            </el-input>
                        </el-form-item>
                    </template>
                    <template v-else-if="fields.type == 'upload_picture'">
                        <el-form-item :label="fields.title">
                            <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card"
                                :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>
                        </el-form-item>
                    </template>
                </template>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">新增</el-button>
                    <el-button @click="formVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        let clickTimer = null;
        var myvue = new Vue({
            el: '#app',
            data: {
                tableData: [],
                value: '',
                search: '',
                input2: '',
                show: false,
                drawer: false,
                direction: 'btt',
                dialogFormVisible: false,
                formVisible: false,
                activeName: 'one',
                activeIndex: '1',
                activeIndex2: '1',
                customer: { id: "" },
                customer_id: 0,
                forms: [
                    {
                        field: [
                            { 'title': '姓名', 'field': 'name', 'value': 'name', 'type': 'text' },
                            { 'title': '性别', 'field': 'sex', 'value': [{ 'title': '男', 'value': 1 }, { 'title': '女', 'value': 2 }], 'type': 'region' },
                            { 'title': '联系方式', 'field': 'mobile', 'value': 'mobile', 'type': 'text' },
                            { 'title': '邮箱', 'field': 'email', 'value': 'email', 'type': 'text' },
                            { 'title': '客源类型', 'field': 'type', 'value': [{ 'title': '买房', 'value': 1 }, { 'title': '卖房', 'value': 2 }, { 'title': '租房', 'value': 3 }], 'type': 'region' },
                            { 'title': '备注', 'field': 'remark', 'value': 'remark', 'type': 'textarea' },
                            {
                                'title': '店铺',
                                'field': 'store_id',
                                'value': [
                                    { 'title': '房妈妈宝龙店', 'value': 1 }
                                ],
                                'type': 'region'
                            }
                        ],
                        action: 'Customer/add',
                        title: '添加客源',
                        data: {},
                        formVisible: false,
                        loading: false,
                    }, 
                    {
                        field: [
                            { 'title': '标题', 'field': 'title', 'value': 'name', 'type': 'text' },
                            { 'title': '备注', 'field': 'content', 'value': 'remark', 'type': 'textarea' },
                        ],
                        action: 'customer_follow/addCustomerFollow',
                        title: '添加跟进记录',
                        data: {},
                        formVisible: false,
                        loading: false,
                    }
                ],
                formDom: {},
                form: {},
                loading: false,
                customerFollows: [],
                selectedTabName: 'one',
                houseList: [],
                followOption: {},
                tabs: [
                    {
                        label: '基本信息',
                        name: 'one',
                        table: [
                            {
                                label: '跟进客源',
                                prop: 'title',
                            },
                            {
                                label: "跟进内容",
                                prop: 'content',
                            },
                            {
                                label: '业务类型',
                                prop: 'type',
                            },
                            {
                                label: '跟进时间',
                                prop: 'Y'
                            }
                        ],
                        lists: [],
                        operate: false,
                        add: true,
                        edit: false
                    },
                    {
                        label: '客源跟进',
                        name: 'customer_follow',
                        table: [
                            {
                                label: '跟进客源',
                                prop: 'title',
                            },
                            {
                                label: "跟进内容",
                                prop: 'content',
                            },
                            {
                                label: '业务类型',
                                prop: 'type',
                            },
                            {
                                label: '跟进时间',
                                prop: 'Y'
                            }
                        ],
                        lists: [],
                        query: {
                            url: 'extend/manager/customer_follow/lists',
                            store_id: 1
                        },
                        operate: false,
                        edit: true,
                        formIndex: 1,
                    },
                    {
                        label: '房源列表',
                        name: 'three',
                        table: [
                            {
                                label: '房源标题',
                                prop: 'title',
                            },
                            {
                                label: "面积",
                                prop: 'house_size',
                            },
                            {
                                label: '层数',
                                prop: 'house_floor',
                            },
                            {
                                label: '房源地址',
                                prop: 'address'
                            },
                            {
                                label: '价格',
                                prop: 'price'
                            }
                        ],
                        lists: [],
                        query: {
                            url: 'extend/manager/House/lists',
                            house_type_id: 1,
                            store_id: 1,
                            type: 1
                        },
                        operate: true,
                        add: true,
                        formIndex: 1,
                    },
                    {
                        label: '签约记录',   // 用户签约记录
                        name: 'four',
                        table: [
                            {
                                label: '签约房源',
                                prop: 'title',
                            },
                            {
                                label: "签约金额",
                                prop: 'money',
                            },
                            {
                                label: '签约时间',
                                prop: 'date',
                            },
                            {
                                label: '签约方',
                                prop: 'customer_info.name'
                            },
                            {
                                label: '签约进度',
                                prop: 'status'
                            }
                        ],
                        lists: [],
                        query: {
                            url: 'extend/manager/houseSign/listByCustomer',
                            store_id: 1
                        }, 
                        operate: false
                    }
                ],
                tabIndex: 0,
                formIndex: 0
            },
            created() {
                utils.ajax({
                    data: {
                        url: 'extend/manager/Customer/lists',
                        user_token: '1kib2bpzpZtg8Qja6b1pMbD79x7z367R',
                        store_id: 1,
                        page: 1,
                    },
                    success: (res) => {
                        // console.log('success' + JSON.stringify(res))
                        // this.tableData = res.data.data;
                        // let data = Object.assign({}, res.data.data);
                        // // [1=>'买房', 2:'买房',"3"=>'租房'];
                        // let typeList = {'1': '买房', '2': '卖房', '3':'租房'}
                        // for(let i of data) {
                        //     if(typeList.hasOwnProperty(i.type)) {
                        //         i.type_str = typeList[i.type];
                        //     } else {
                        //         i.type_str = i.type;
                        //     }

                        // }
                        let typeList = { '1': '买房', '2': '卖房', '3': '租房' }
                        let sexList = { '1': '男', '2': '女' }
                        let data = res.data.data;
                        for (let key in data) {
                            let type = data[key].type;

                            if (typeList.hasOwnProperty(type)) {
                                data[key].type_str = typeList[type];
                            } else {
                                data[key].type_str = type;
                            }

                            data[key].sex_str = sexList[data[key].sex] ? sexList[data[key].sex] : '';
                        }
                        // console.log(data);
                        this.tableData = data;
                    },
                    error: function (res) {
                        console.log('error' + res)
                    }
                })
            },
            methods: {
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                },
                open() {
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                openDetails(row, column, event) {
                    event.preventDefault();
                    row.id = row.id || 0;
                    if (row.id == 0) {
                        this.$message.error('数据异常');
                        return;
                    }
                    // this.show = this.show ? false : true;
                    this.show = true;
                    var menu = document.querySelector("#menu");
                    menu.style.left = event.clientX + 'px';
                    menu.style.top = event.clientY + 'px';
                },
                // row_click(){
                //     if (clickTimer) {
                //         window.clearTimeout(clickTimer);
                //         clickTimer = null;
                //     }
                //     clickTimer = window.setTimeout(function() {
                //         // your click process code here
                //         myvue.$data.drawer = true;
                //     }, 200);
                // },
                row_clicks(row, event) {
                    if (clickTimer) {
                        window.clearTimeout(clickTimer);
                        clickTimer = null;
                    }
                    // 确定选中的客源
                    let customer = Object.assign({}, row);
                    this.customer = customer;
                    // your click process code here
                    this.dialogFormVisible = true;

                    // 如果选中的标签name 等于 customer_follow 的话 ，请求客源跟进列表
                    console.log(this.selectedTabName, this.customer.id);
                },
                tab_row_clicks(row) {
                    this.formVisible = true;

                    // this.loading = true;

                    // this.getTabDataList();
                },
                showDialog() {
                    this.dialogFormVisible = true;
                },
                handleClick(tab, event) {
                    // console.log(tab);
                    // 绑定tab的index值（下标）
                    this.tabIndex = tab.index;
                    this.loading = true;
                    this.getTabDataList();

                    this.selectedTabName = tab.name;
                },
                // 显示表单
                handleForm(index, row) {
                    this.forms[1].formVisible = true;

                    this.formIndex = 1;
            
                    this.form = {
                        "house_id": row.id,
                        "store_id": 1,
                        "customer_id": this.customer.id,
                        "house_type_id": 1
                    }
                    // 获取跟进状态列表
                    this.getFollowOption();
                    // this.formVisible = true;
                    // this.formData = JSON.parse(JSON.stringify(formJson));
                    // if (row !== null) {
                    //     this.formData = Object.assign({}, row);
                    // }
                    // this.formName = "add";

                    // if (index !== null) {
                    //     this.index = index;
                    //     this.formName = "edit";
                    // }
                },
                onSubmit() {

                    this.forms[this.formIndex].loading = true;
                    let data = Object.assign({
                        url: 'extend/manager/' + this.forms[this.formIndex].action,
                        user_token: '1kib2bpzpZtg8Qja6b1pMbD79x7z367R',
                    }, this.form);
                    console.log(data);
                    utils.ajax({
                        data: data,
                        success: (res) => {
                            // console.log(res.data);

                            // this.$message({
                            //     type: 'info',
                            //     message: res.data.msg
                            // });
                            this.forms[this.formIndex].loading = false;
                            if (res.data.code) {
                                this.$message({
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                this.form = {};  // 如果添加成功，表单就清空
                                this.forms[this.formIndex].formVisible = false; // 隐藏表单

                            } else {
                                this.$message.error(res.data.msg);
                            }
                        },
                        error: function (res) {
                            console.log('error' + res)
                        }
                    })
                },
                tableToExcel() {
                    //要导出的json数据


                    let str = `名称\t,联系方式\t,性别\t,类型\t,备注\n`;
                    let tabs = ['name', 'mobile', 'sex_str', 'type_str', 'remark'];
                    //增加\t为了不让表格显示科学计数法或者其他格式

                    for (let customer of this.tableData) {
                        for (let tab of tabs) {
                            str += `${customer[tab] + '\t'},`;
                        }
                        // str += `${jsonData[i][item] + '\t'},`
                        str += '\n';
                    }
                    //encodeURIComponent解决中文乱码
                    let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
                    //通过创建a标签实现
                    let link = document.createElement("a");
                    link.href = uri;
                    //对下载的文件命名
                    link.download = "json数据表.csv";
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                },
                // test(){
                //     var aoa = [
                //         ['姓名', '性别', '年龄', '注册时间'],
                //         ['张三', '男', 18, new Date()],
                //         ['李四', '女', 22, new Date()]
                //     ];
                //     var sheet = XLSX.utils.aoa_to_sheet(aoa);
                //     openDownloadDialog(sheet2blob(sheet), '导出.xlsx');
                // }
                getTabDataList() {
                    let query = {};
                    //  如果当前选中的是 客源跟进 或者是 签约记录
                    if (this.tabIndex == 1 || this.tabIndex == 3) {
                        query = { customer_id: this.customer.id };
                    }
                    //  房源列表暂时不需要 第二个源对象   所以为 空 query = {}

                    let data = Object.assign({ user_token: '1kib2bpzpZtg8Qja6b1pMbD79x7z367R' },
                        this.tabs[this.tabIndex].query, query);
                    console.log(data);
                    utils.ajax({
                        data: data,
                        success: (res) => {
                            this.loading = false;  // 关闭加载动画
                            console.log(res.data);
                            if (res.data.code == 1) {

                                this.tabs[this.tabIndex].lists = res.data.data;
                            }

                        },
                        error: function (res) {
                            console.log('error' + res)
                        }
                    })
                },
                addCustomerFollow(row) {
                    this.formVisible = true;
                    this.formDom = {
                        field: [
                            { 'title': '标题', 'field': 'title', 'value': 'name', 'type': 'text' },
                            { 'title': '备注', 'field': 'content', 'value': 'remark', 'type': 'textarea' },
                        ],
                        action: 'customer_follow/addCustomerFollow',
                        title: '添加跟进记录'
                    };
                    this.form = {
                        "house_id": row.id,
                        "store_id": 1,
                        "customer_id": this.customer.id,
                        "house_type_id": 1
                    }
                    // 获取跟进状态列表
                    this.getFollowOption();

                },

                getFollowOption() {
                    let follows = Object.keys(this.followOption);
                    // console.log('follows.length: ' + follows.length);
                    if (follows.length == 0) {
                        this.forms[1].loading = true;
                        let data = {
                            url: 'extend/manager/HouseFollow/getFollowOption',
                            user_token: '1kib2bpzpZtg8Qja6b1pMbD79x7z367R',
                            store_id: 1
                        };
                        utils.ajax({
                            data: data,
                            success: (res) => {
                                this.forms[1].loading = false;  // 关闭加载动画
                                if (res.data.code == 1) {
                                    let value = [];
                                    for (let i of res.data.data) {
                                        value.push({ 'title': i.key, 'value': i.id });
                                    }
                                    let data = {
                                        'title': '跟进状态', 'field': 'step',
                                        'value': value,
                                        'type': 'region'
                                    };
                                    this.forms[1].field.push(data);
                                    // 将跟进状态的结构对象，赋值给followOption 对象，以便下次使用时不需要再次获取
                                    this.followOption = data;
                                }
                            },
                            error: function (res) {
                                console.log('error' + res);
                            }
                        })
                    } else {
                        this.forms[1].field.push(this.followOption);
                    }
                }



            },
            // 过滤器
            filters: {
                statusFilterType(status) {
                    const statusMap = { '1': '有意向', '2': '看房', '3': '前订购协议', '4': '签合同', '5': '付款' };
                    return statusMap[status];
                },
            }
        });
        //关闭右键菜单
        window.onclick = function (e) {
            myvue.$data.show = false;
        }
    </script>
</block>