<extend name="base/common" />

<block name="body">
    <style>
        .el-header {
            color: #333;
            line-height: 60px;
            text-align: right;
            font-size: 12px
        }

        .el-aside {
            color: #333;
        }

        #menu {
            position: absolute;
        }

        .el-menu {
            box-shadow: 0 0 5px #ddd;
            z-index: 99;
            border: 1px solid #ddd;
        }

        .el-menu-item {
            color: #555;
            border-bottom: 1px solid #f3f3f3;
        }

        .el-menu-item:focus,
        .el-menu-item:hover {
            background-color: #e6e9ed;
            color: #ff5100
        }

        a {
            text-decoration: none
        }

        .el-menu li {
            height: 35px;
            line-height: 35px;
        }
    </style>
    <div id="app" v-hide>
        <el-container>
            <el-container v-loading="loading">
                <el-main style="margin-top: -15px;">
                    <el-table @row-contextmenu="openDetails" :data="tableData"
                        style="width: 100%;border-top:1px solid #eee">
                        <!--                        复选框-->
<!--                        <el-table-column type="selection" width="55">-->
<!--                        </el-table-column>-->
                        <el-table-column v-for="(v,k) in fields" show-overflow-tooltip :label="v.label" :prop="v.prop">
                        </el-table-column>
                    </el-table>
                </el-main>
                <el-footer style="text-align: center">
                    <!-- <el-pagination style="text-align: center" hide-on-single-page background layout="prev, pager, next"
                        :total="50">
                    </el-pagination> -->
                    <el-button type="text" icon="el-icon-arrow-left" size="medium" :disabled="page == 1"
                        @click="prevPage">上一页</el-button>
                    <el-button type="text" size="medium" @click="nextPage" :disabled="nextBtn">下一页<i
                            class="el-icon-arrow-right el-icon--right"></i></el-button>

                </el-footer>
            </el-container>
        </el-container>
        <transition name="el-zoom-in-top">
            <div id="menu" v-show="show">
                <el-row class="tac">
                    <el-col>
                        <el-menu active-text-color="#000">
                            <!-- <template v-for="menuItems in menuItem">
                                <a :href="menuItems.src">
                                    <el-menu-item>
                                        <span slot="title">{{menuItems.title}}</span>
                                    </el-menu-item>
                                </a>
                            </template> -->

                        </el-menu>
                    </el-col>
                </el-row>
            </div>
        </transition>

    </div>
</block>
<block name="js">
    <script type="text/javascript">
        let clickTimer = null;
        let user_data = JSON.parse('{:cache("user_data")}');
        var myvue = new Vue({
            el: '#app',
            data: {
                tableData: [],
                lists: [],
                fields: [
                    {
                        label: "经纪人",
                        prop: 'user_profile.nickname',
                    }, {
                        label: "日志类型",
                        prop: 'log_type.title',
                    }, {
                        label: '日志内容',
                        prop: 'log_content',
                    }, {
                        label: '创建时间',
                        prop: 'date',
                    }
                ],
                value: '',
                search: '',
                input2: '',
                show: false,
                drawer: false,
                direction: 'btt',
                dialogFormVisible: false,
                formVisible: false,
                activeName: 'one',
                activeIndex: '1',
                activeIndex2: '1',
                loading: false,
                header: { user_token: user_data.user_token.user_token, store_id: user_data.store_user_info.store_id },
                page: 1,
                nextBtn: true
            },
            created() {
                this.getLogs();
            },
            methods: {
                getLogs() {
                    this.loading = true;
                    let data = Object.assign({
                        url: 'extend/manager/House/houseLogList',
                        page: this.page,
                    }, this.header);
                    console.log(data);
                    utils.ajax({
                        data: data,
                        success: (res) => {
                            this.loading = false;
                            console.log(res.data);
                            if (res.data.code == -2) {
                                this.$message.error(res.data.msg);
                                return false;
                            }

                            let data = res.data.data;
                            // console.log(data);
                            this.tableData = data;
                            this.nextBtn = data.length == 10 ? false : true;
                        },
                        error: function (res) {
                            console.log('error' + res)
                        }
                    })
                },
                prevPage() {
                    this.page--;
                    this.getLogs();
                },
                nextPage() {
                    this.page++;
                    this.getLogs();
                },
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                },
                open() {
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                openDetails(row, column, event) {
                    event.preventDefault();
                    row.id = row.id || 0;
                    if (row.id == 0) {
                        this.$message.error('数据异常');
                        return;
                    }
                    // this.show = this.show ? false : true;
                    this.show = true;
                    var menu = document.querySelector("#menu");
                    menu.style.left = event.clientX + 'px';
                    menu.style.top = event.clientY + 'px';
                },
                // row_click(){
                //     if (clickTimer) {
                //         window.clearTimeout(clickTimer);
                //         clickTimer = null;
                //     }
                //     clickTimer = window.setTimeout(function() {
                //         // your click process code here
                //         myvue.$data.drawer = true;
                //     }, 200);
                // },
                row_clicks(row, event) {
                    if (clickTimer) {
                        window.clearTimeout(clickTimer);
                        clickTimer = null;
                    }
                    // 确定选中的客源
                    let customer = Object.assign({}, row);
                    this.customer = customer;
                    // your click process code here
                    this.dialogFormVisible = true;

                    this.getTabDataList();
                },
                showDialog() {
                    this.dialogFormVisible = true;
                },

            }
        });
        //关闭右键菜单
        window.onclick = function (e) {
            myvue.$data.show = false;
        }
    </script>
</block>
